<h1 class="display-5">{{ formTitle() }} employee</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" />
            @if ( (employeeFormControl.name.touched || submitted()) &&
            employeeFormControl.name.errors?.['required'] ) {
            <span class="text-danger"> Name is required. </span>
            }
          </div>

          <div class="mb-3">
            <label for="Gender" class="form-label">Gender</label>
            <select
              class="form-control"
              data-val="true"
              formControlName="gender"
            >
              <option value="">-- Select Gender --</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            @if ( (employeeFormControl.gender.touched || submitted()) &&
            employeeFormControl.gender.errors?.['required']) {
            <span class="text-danger"> Gender is required </span>
            }
          </div>

          <div class="mb-3">
            <label for="Department" class="form-label">Department</label>
            <input
              class="form-control"
              type="text"
              formControlName="department"
            />
            @if ( (employeeFormControl.department.touched || submitted()) &&
            employeeFormControl.department.errors?.['required'] ) {
            <span class="text-danger"> Department is required </span>
            }
          </div>

          <div class="mb-3">
            <label for="City" class="form-label col-md-12">City</label>
            <select class="form-control" data-val="true" formControlName="city">
              <option value="">-- Select City --</option>
              @for (city of this.employeeService.cityList(); track city) {
              <option value="{{ city.cityName }}">
                {{ city.cityName }}
              </option>
              }
            </select>
            @if ( (employeeFormControl.city.touched || submitted()) &&
            employeeFormControl.city.errors?.['required'] ) {
            <span class="text-danger"> City is required </span>
            }
          </div>
          <div align="right">
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="navigateToFetchEmployee()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
