<div class="d-flex justify-content-end">
  <button class="btn btn-primary" [routerLink]="['/employee/add']">
    <span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Add new
    employee
  </button>
</div>

<br />

<div class="mt-4">
  @if (employees$ | async; as employeeData) { @if (employeeData.length > 0) {
  <table class="table shadow table-striped align-middle table-bordered">
    <thead class="table-success">
      <tr class="text-center">
        <th>EmployeeId</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employeeData; track employee) {
      <tr class="text-center">
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.city }}</td>
        <td>
          <button
            class="btn btn-outline-dark"
            [routerLink]="['/employee/edit/', employee.employeeId]"
          >
            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
            Edit
          </button>
          <button
            class="btn btn-outline-danger ms-2"
            (click)="delete(employee.employeeId)"
          >
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <div class="d-flex justify-content-center">
    <h3>No records found</h3>
  </div>
  } } @else {
  <p><em>Loading...</em></p>
  }
</div>
